
AxonDeepSeg\.egg-info/

build/

dist/

config/

\.idea/

*.pyc

models/

data/

guidelines/.ipynb_checkpoints/

victor/

summaries/

trainingset/

guidelines/test_weights\.ipynb

*.pkl

notebooks/\.ipynb_checkpoints/

notebooks/test_weights\.ipynb
