# Can ignore ADS specific files/folders
AxonDeepSeg\.egg-info/

AxonDeepSeg/.adsconfig

build/

dist/

config/

\.idea/

*.pyc

data/

guidelines/.ipynb_checkpoints/

summaries/

trainingset/

guidelines/test_weights\.ipynb

notebooks/\.ipynb_checkpoints/

notebooks/test_weights\.ipynb

AxonDeepSeg/models/default_SEM_model/
AxonDeepSeg/models/default_TEM_model/
test/__test_files__

# Generated image files
AxonDeepSeg/data_test/AxonDeepSeg*

# Python-related temp files
.coverage
.pytest_cache/
.ipynb_checkpoints/

# OS-related files/folders
__MACOSX/
.DS_Store
.vscode/
