# Can ignore specific files
.DS_Store
AxonDeepSeg\.egg-info/

build/

dist/

config/

\.idea/

*.pyc

data/

guidelines/.ipynb_checkpoints/

summaries/

trainingset/

guidelines/test_weights\.ipynb

*.pkl

notebooks/\.ipynb_checkpoints/

notebooks/test_weights\.ipynb

# Generated image files
AxonDeepSeg/data_test/AxonDeepSeg*

# Python-related temp files
.coverage
.pytest_cache/