numpy<2
scipy
scikit-image
tabulate
pandas
matplotlib
mpld3
tqdm
requests
pillow!=9.0.0
imageio>=2.28.0
pytest
pytest-cov
prettytable
jupyter
openpyxl
qtconsole<5.4.2
napari
acvl_utils!=0.2.1
nnunetv2==2.2.1
loguru
torch<2.4.0
pydicom<3
pygit2
pytest-qt
