acvl_utils==0.2.5
alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1733750398730/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio==4.8.0
app-model @ file:///home/conda/feedstock_root/build_artifacts/app-model_1726656024306/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asciitree==0.3.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru==2.0.4
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1734348785146/work
-e git+https://github.com/neuropoly/axondeepseg.git@aa01399fc896015c8988a9aea26b9a09100de5e0#egg=AxonDeepSeg
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1733236348445/work
batchgenerators==0.25.1
beautifulsoup4==4.13.3
bleach==6.2.0
blosc2==3.2.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267521616/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1733230610871/work
cachey @ file:///home/conda/feedstock_root/build_artifacts/cachey_1594854602465/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560630059/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
connected-components-3d==3.23.0
contourpy==1.3.1
coverage==7.6.12
cycler==0.12.1
cytoolz @ file:///Users/runner/miniforge3/conda-bld/cytoolz_1734107238002/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1737242306144/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1737269781257/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
defusedxml==0.7.1
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1733662579792/work
dicom2nifti==2.5.1
docstring_parser @ file:///home/conda/feedstock_root/build_artifacts/docstring_parser_1710507861579/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1733217766141/work
dynamic_network_architectures==0.3.1
et_xmlfile==2.0.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fasteners @ file:///home/conda/feedstock_root/build_artifacts/fasteners_1734943108928/work
fastjsonschema==2.21.1
filelock==3.17.0
flexcache @ file:///home/conda/feedstock_root/build_artifacts/flexcache_1733663531877/work
flexparser @ file:///home/conda/feedstock_root/build_artifacts/flexparser_1733663506167/work
fonttools==4.56.0
fqdn==1.5.1
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1733689576473/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1734650190311/work
future==1.0.0
graphviz==0.20.3
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
HeapDict @ file:///home/conda/feedstock_root/build_artifacts/heapdict_1733762606052/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hsluv @ file:///home/conda/feedstock_root/build_artifacts/hsluv_1733772129636/work
httpcore==1.0.7
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1736603192233/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1732815139829/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
in-n-out @ file:///home/conda/feedstock_root/build_artifacts/in-n-out_1733792479719/work
iniconfig==2.0.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1734788142186/work
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_92lgswl3y6/croot/kiwisolver_1737040154211/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1733636780672/work
linecache2==1.0.0
llvmlite==0.43.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
loguru==0.7.3
magicgui @ file:///home/conda/feedstock_root/build_artifacts/magicgui_1733757164110/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219683650/work
matplotlib==3.10.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune==3.1.2
mpld3==0.5.10
mpmath==1.3.0
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1725975023021/work
napari @ file:///home/conda/feedstock_root/build_artifacts/napari-meta_1737709579177/work
napari-console @ file:///home/conda/feedstock_root/build_artifacts/napari-console_1734818806360/work
napari-plugin-engine @ file:///home/conda/feedstock_root/build_artifacts/napari-plugin-engine_1734055871999/work
napari-plugin-manager @ file:///home/conda/feedstock_root/build_artifacts/napari-plugin-manager_1736191263428/work
napari-svg @ file:///home/conda/feedstock_root/build_artifacts/napari-svg_1736862480806/work
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndindex==1.9.2
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
nibabel==5.3.2
nnunetv2==2.2.1
notebook==7.3.2
notebook_shim==0.2.4
npe2 @ file:///home/conda/feedstock_root/build_artifacts/npe2_1734043842421/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1718888061400/work
numcodecs @ file:///Users/runner/miniforge3/conda-bld/numcodecs_1737137932012/work
numexpr==2.10.2
numpy==1.26.4
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1733650859674/work
openpyxl==3.1.5
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1715897633539/work
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
PartSegCore_compiled_backend==0.15.11
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929738956/work
Pint @ file:///home/conda/feedstock_root/build_artifacts/pint_1733663494434/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
pluggy==1.5.0
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1733421311631/work
prettytable==3.15.1
prometheus_client==0.21.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1735327364162/work
psygnal @ file:///home/conda/feedstock_root/build_artifacts/psygnal_1733746653041/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py-cpuinfo==9.0.0
pyconify @ file:///home/conda/feedstock_root/build_artifacts/pyconify_1735945103472/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1736458246045/work
pydantic-compat @ file:///home/conda/feedstock_root/build_artifacts/pydantic-compat_1710186824381/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1734571460776/work
pydicom==2.4.4
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PyOpenGL @ file:///home/conda/feedstock_root/build_artifacts/pyopengl_1733745846813/work
pyparsing==3.2.1
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1733710025763/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==8.3.5
pytest-cov==6.0.0
pytest-qt==4.4.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-gdcm==3.0.24.1
python-json-logger==3.3.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1733215667876/work
PyWavelets==1.8.0
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454694178/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1728642261442/work
qtconsole==5.4.1
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1736082956152/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1737120398748/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1733366661327/work
scikit-image==0.25.2
scikit-learn==1.6.1
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1736617253570/work/dist/scipy-1.15.1-cp311-cp311-macosx_10_13_x86_64.whl#sha256=9dba763e5d9151ece0f317fed4d2f553bb041120b5d977e6643fbe009579b365
seaborn==0.13.2
Send2Trash==1.8.3
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
simpleitk==2.5.2
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1697300534614/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio==1.3.1
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
soupsieve==2.6
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1733754067767/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1733754101641/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1733754113405/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1733754280555/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1733753744933/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1733753408017/work
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1733750479108/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
superqt @ file:///home/conda/feedstock_root/build_artifacts/superqt_1734626676847/work
sympy==1.13.3
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
terminado==0.18.1
threadpoolctl==3.5.0
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1736610557538/work
tinycss2==1.4.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomli_w @ file:///home/conda/feedstock_root/build_artifacts/tomli-w_1736962227066/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
torch==2.2.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615926389/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traceback2==1.4.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
triangle==20230923
typer==0.15.1
typer-slim==0.15.1
types-python-dateutil==2.9.0.20241206
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unittest2==1.1.0
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
vispy @ file:///Users/runner/miniforge3/conda-bld/vispy_1725451644066/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1736869500438/work
yacs==0.1.8
zarr @ file:///home/conda/feedstock_root/build_artifacts/zarr_1734108483987/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
